.success-icon, .error-icon {
    font-size: 18px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10000;
}

.success-icon.first-type,
.error-icon.first-type {
    right: 45%;
}

.success-icon.second-type,
.error-icon.second-type {
    right: 10%;
}


.error-icon {
    color: red;
}

.success-icon {
    color: green;
}

.tooltip-message {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    margin-top: 5px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.input-wrapper input {
    padding-left: 40px;
    padding-right: 50px;
}